* 
{
	padding: 0;
	margin: 0;
}

html, body 
{
	overflow: hidden;
	height:100%;
	background: black url('loader.gif') center no-repeat;
}

canvas 
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

video, audio
{
  display: none;
}